In [1]:
import qgrid

In [2]:
import numpy as np
import pandas as pd

td = np.cumsum(np.random.randint(1, 15*60, 1000))
start = pd.Timestamp('2017-04-17')
df_interval = pd.DataFrame(
    [(start + pd.Timedelta(seconds=d)) for d in td],
    columns=['time'])

freq = '15Min'
start = df_interval['time'].min().floor(freq)
end = df_interval['time'].max().ceil(freq)
bins = pd.date_range(start, end, freq=freq)

df_interval['time_bin'] = pd.cut(df_interval['time'], bins)
df_interval

                   time                                    time_bin
0   2017-04-17 00:03:35           (2017-04-17, 2017-04-17 00:15:00]
1   2017-04-17 00:05:36           (2017-04-17, 2017-04-17 00:15:00]
2   2017-04-17 00:08:47           (2017-04-17, 2017-04-17 00:15:00]
3   2017-04-17 00:23:29  (2017-04-17 00:15:00, 2017-04-17 00:30:00]
4   2017-04-17 00:27:49  (2017-04-17 00:15:00, 2017-04-17 00:30:00]
..                  ...                                         ...
995 2017-04-22 03:48:01  (2017-04-22 03:45:00, 2017-04-22 04:00:00]
996 2017-04-22 03:52:20  (2017-04-22 03:45:00, 2017-04-22 04:00:00]
997 2017-04-22 04:04:02  (2017-04-22 04:00:00, 2017-04-22 04:15:00]
998 2017-04-22 04:13:22  (2017-04-22 04:00:00, 2017-04-22 04:15:00]
999 2017-04-22 04:14:01  (2017-04-22 04:00:00, 2017-04-22 04:15:00]

[1000 rows x 2 columns]

In [4]:
qgrid.show_grid(df_interval, show_toolbar=False)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…