In [1]:
import numpy as np
import pandas as pd
from simple.renko import Renko
from simple.plotly import chartFigure

In [2]:
T = np.load('data/tick.npz')['BTCUSDT'][:100000]
len(T)

100000

In [3]:
rnk = Renko(25, T['PriceA'])
rnk.create_renko()

rnk.bricks[:10]

[{'type': 'first', 'open': 37265.0, 'close': 37265.0},
 {'type': 'down', 'open': 37265.0, 'close': 37240.0},
 {'type': 'down', 'open': 37240.0, 'close': 37215.0},
 {'type': 'down', 'open': 37215.0, 'close': 37190.0},
 {'type': 'down', 'open': 37190.0, 'close': 37165.0},
 {'type': 'down', 'open': 37165.0, 'close': 37140.0},
 {'type': 'up', 'open': 37165.0, 'close': 37190.0, 'low': 37130.0},
 {'type': 'up', 'open': 37190.0, 'close': 37215.0},
 {'type': 'up', 'open': 37215.0, 'close': 37240.0},
 {'type': 'up', 'open': 37240.0, 'close': 37265.0}]

In [4]:
len({})

0

In [5]:
X = pd.DataFrame(rnk.bricks)
X['color'] = np.where(X.type == 'up', 'green', 'red')
X['mid'] = (X.close + X.open) / 2
X

      type     open    close  low  high  color      mid
0    first  37265.0  37265.0  NaN   NaN    red  37265.0
1     down  37265.0  37240.0  NaN   NaN    red  37252.5
2     down  37240.0  37215.0  NaN   NaN    red  37227.5
3     down  37215.0  37190.0  NaN   NaN    red  37202.5
4     down  37190.0  37165.0  NaN   NaN    red  37177.5
..     ...      ...      ...  ...   ...    ...      ...
688     up  36465.0  36490.0  NaN   NaN  green  36477.5
689     up  36490.0  36515.0  NaN   NaN  green  36502.5
690     up  36515.0  36540.0  NaN   NaN  green  36527.5
691     up  36540.0  36565.0  NaN   NaN  green  36552.5
692     up  36565.0  36590.0  NaN   NaN  green  36577.5

[693 rows x 7 columns]

In [6]:
chartFigure(Renko=dict(mode='markers', y=X.mid, marker=dict(symbol='square', size=5, line_width=1, line_color="black", color=X.color)))

FigureWidgetResampler({
    'data': [{'marker': {'color': array(['red', 'red', 'red', ..., 'green', 'green', 'â€¦

In [ ]:
chartFigure(Renko=dict(mode='markers', y=X.mid, marker=dict(symbol='square', size=5, line_width=1, line_color="black", color=X.color)))